/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "daisyui" {
  themes: night, nord;
}

html, body, app-root {
  height: 100%;
  margin: 0;
}

.router-link-active {
  @apply text-primary;
}

